In [25]:
# python 3.10.9에서 작성 되었습니다.

In [ ]:
# 시작할 때 사용할 패키지
import pandas as pd
import os

In [ ]:
# 현재 프로세스의 작업 디렉토리 확인
cur_dir = os.getcwd()
print('현재 프로세스의 작업 디렉토리 : ', cur_dir)

# 현재 작업파일의 경로에 있는 리스트 확인 -> 리스트로 반환
dir_list = os.listdir(cur_dir)
print(dir_list)

# 지정된 경로의 디렉토리를 순차적으로 탐색 -> 주로 for문과 활용
for curDir, dirs, files in os.walk(cur_dir):
    print(curDir, dirs, files)
    for f in files :
        print(os.path.join(curDir, f))

현재 프로세스의 작업 디렉토리 :  d:\GitHub\Documents\230808_11
['230728_아이스크림_연수_후기_크롤링.ipynb', '230808.txt', '230809_웅진_위도_경도.ipynb', '230809_웅진_크롤링.ipynb', '230809_해법수학_크롤링.ipynb', '230809_히트맵.ipynb', '230810_서울시_25개_구_데이터_전처리.ipynb', 'hb.csv', '국가철도공단_코레일_지하철_주소데이터_20221122.csv', '기초강의N16_실습과제3.pdf', '기초강의N16_실습과제3.pptx', '기초강의N21_기초통계2+.pdf', '기초강의N21_기초통계2+.pptx', '기초수학 정답 풀이.pdf', '서울교통공사 지하철역 주소 및 전화번호 정보.csv', '서울시_25개_구_데이터', '서울시_25개_구_데이터.csv', '서울시_25개_구_데이터.zip', '서울시_25개_구_데이터_최종.csv', '서울시_25개_구_미성년자가_있는_자녀수별_가구.csv', '서울시_25개_구_학원수.csv', '셀레니움을 이용한 크롤링.ipynb', '웅진스마트올_공부방 - 웅진스마트올_공부방.csv', '웅진스마트올_공부방.csv', '웅진스마트올_공부방_서울_위도_경도.csv', '해법 크롤링.ipynb', '해법수학 입지 분석_김민수 - Google Docs.pdf', '해법수학.csv']
d:\GitHub\Documents\230808_11 ['서울시_25개_구_데이터'] ['230728_아이스크림_연수_후기_크롤링.ipynb', '230808.txt', '230809_웅진_위도_경도.ipynb', '230809_웅진_크롤링.ipynb', '230809_해법수학_크롤링.ipynb', '230809_히트맵.ipynb', '230810_서울시_25개_구_데이터_전처리.ipynb', 'hb.csv', '국가철도공단_코레일_지하철_주소데이터_20221122.csv', '기초강의N16_실습과제3.pdf', '기초강의N16_실습과제3.pptx', '기초강의N21_기초통계2+.pdf', '기초강의N21_기초통계2+.pptx', '기초수학 정답 풀이.pdf', '서울교통공사 지하철역 주소 및 전화번호 정보.csv', '서울시_25개_구_데이터.csv', '서울시_25개_구_데이터.zip', '서울시_25개_구_데이터_최종.csv', '서울시_25개_구_미성년자가_있는_자녀수별_가구.csv', '서울시_25개_구_학원수.csv', '셀레니움을 이용한 크롤링.ipynb', '웅진스마트올_공부방 - 웅진스마트올_공부방.csv', '웅진스마트올_공부방.csv', '웅진스마트올_공부방_서울_위도_경도.csv', '해법 크롤링.ipynb', '해법수학 입지 분석_김민수 - Google Docs.pdf', '해법수학.csv']
d:\GitHub\Documents\230808_11\230728_아이스크림_연수_후기_크롤링.ipynb
d:\GitHub\Documents\230808_11\230808.txt
d:\GitHub\Documents\230808_11\230809_웅진_위도_경도.ipynb
d:\GitHub\Documents\230808_11\230809_웅진_크롤링.ipynb
d:\GitHub\Documents\230808_11\230809_해법수학_크롤링.ipynb
d:\GitHub\Documents\230808_11\230809_히트맵.ipynb
d:\GitHub\Documents\230808_11\230810_서울시_25개_구_데이터_전처리.ipynb
d:\GitHub\Documents\230808_11\hb.csv
d:\GitHub\Documents\230808_11\국가철도공단_코레일_지하철_주소데이터_20221122.csv
d:\GitHub\Documents\230808_11\기초강의N16_실습과제3.pdf
d:\GitHub\Documents\230808_11\기초강의N16_실습과제3.pptx
d:\GitHub\Documents\230808_11\기초강의N21_기초통계2+.pdf
d:\GitHub\Documents\230808_11\기초강의N21_기초통계2+.pptx
d:\GitHub\Documents\230808_11\기초수학 정답 풀이.pdf
d:\GitHub\Documents\230808_11\서울교통공사 지하철역 주소 및 전화번호 정보.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터.zip
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터_최종.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_미성년자가_있는_자녀수별_가구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_학원수.csv
d:\GitHub\Documents\230808_11\셀레니움을 이용한 크롤링.ipynb
d:\GitHub\Documents\230808_11\웅진스마트올_공부방 - 웅진스마트올_공부방.csv
d:\GitHub\Documents\230808_11\웅진스마트올_공부방.csv
d:\GitHub\Documents\230808_11\웅진스마트올_공부방_서울_위도_경도.csv
d:\GitHub\Documents\230808_11\해법 크롤링.ipynb
d:\GitHub\Documents\230808_11\해법수학 입지 분석_김민수 - Google Docs.pdf
d:\GitHub\Documents\230808_11\해법수학.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터 [] ['e지방지표_강남구.csv', 'e지방지표_강동구.csv', 'e지방지표_강북구.csv', 'e지방지표_강서구.csv', 'e지방지표_관악구.csv', 'e지방지표_광진구.csv', 'e지방지표_구로구.csv', 'e지방지표_금천구.csv', 'e지방지표_노원구.csv', 'e지방지표_도봉구.csv', 'e지방지표_동대문구.csv', 'e지방지표_동작구.csv', 'e지방지표_마포구.csv', 'e지방지표_서대문구.csv', 'e지방지표_서초구.csv', 'e지방지표_성공구.csv', 'e지방지표_성북구.csv', 'e지방지표_송파구.csv', 'e지방지표_양천구.csv', 'e지방지표_영등포구.csv', 'e지방지표_용산구.csv', 'e지방지표_은평구.csv', 'e지방지표_종로구.csv', 'e지방지표_중구.csv', 'e지방지표_중랑구.csv']
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_강남구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_강동구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_강북구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_강서구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_관악구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_광진구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_구로구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_금천구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_노원구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_도봉구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_동대문구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_동작구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_마포구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_서대문구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_서초구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_성공구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_성북구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_송파구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_양천구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_영등포구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_용산구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_은평구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_종로구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_중구.csv
d:\GitHub\Documents\230808_11\서울시_25개_구_데이터\e지방지표_중랑구.csv

In [ ]:
# 특정 경로의 파일 리스트 확인
data_list = os.listdir(cur_dir + '/서울시_25개_구_데이터')
print("데이터셋 목록(data_list) : ", data_list)

데이터셋 목록(data_list) :  ['e지방지표_강남구.csv', 'e지방지표_강동구.csv', 'e지방지표_강북구.csv', 'e지방지표_강서구.csv', 'e지방지표_관악구.csv', 'e지방지표_광진구.csv', 'e지방지표_구로구.csv', 'e지방지표_금천구.csv', 'e지방지표_노원구.csv', 'e지방지표_도봉구.csv', 'e지방지표_동대문구.csv', 'e지방지표_동작구.csv', 'e지방지표_마포구.csv', 'e지방지표_서대문구.csv', 'e지방지표_서초구.csv', 'e지방지표_성공구.csv', 'e지방지표_성북구.csv', 'e지방지표_송파구.csv', 'e지방지표_양천구.csv', 'e지방지표_영등포구.csv', 'e지방지표_용산구.csv', 'e지방지표_은평구.csv', 'e지방지표_종로구.csv', 'e지방지표_중구.csv', 'e지방지표_중랑구.csv']

In [ ]:
# csv 파일들 dict 형태로 반환
dataset = dict()

for data in data_list :
    print(data[0 : -4])
    dataset[data[0 : -4]] = pd.read_csv(cur_dir + f'/서울시_25개_구_데이터/{data}', encoding = 'cp949') # 변수 f'{}'

e지방지표_강남구
e지방지표_강동구
e지방지표_강북구
e지방지표_강서구
e지방지표_관악구
e지방지표_광진구
e지방지표_구로구
e지방지표_금천구
e지방지표_노원구
e지방지표_도봉구
e지방지표_동대문구
e지방지표_동작구
e지방지표_마포구
e지방지표_서대문구
e지방지표_서초구
e지방지표_성공구
e지방지표_성북구
e지방지표_송파구
e지방지표_양천구
e지방지표_영등포구
e지방지표_용산구
e지방지표_은평구
e지방지표_종로구
e지방지표_중구
e지방지표_중랑구

In [ ]:
# 중복제거 및 불필요 열 제거
dataset['e지방지표_강남구'] = dataset['e지방지표_강남구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_강동구'] = dataset['e지방지표_강동구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_강북구'] = dataset['e지방지표_강북구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_강서구'] = dataset['e지방지표_강서구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_관악구'] = dataset['e지방지표_관악구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_광진구'] = dataset['e지방지표_광진구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_구로구'] = dataset['e지방지표_구로구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_금천구'] = dataset['e지방지표_금천구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_노원구'] = dataset['e지방지표_노원구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_도봉구'] = dataset['e지방지표_도봉구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_동대문구'] = dataset['e지방지표_동대문구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_동작구'] = dataset['e지방지표_동작구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_마포구'] = dataset['e지방지표_마포구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_서대문구'] = dataset['e지방지표_서대문구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_서초구'] = dataset['e지방지표_서초구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_성공구'] = dataset['e지방지표_성공구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_성북구'] = dataset['e지방지표_성북구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_송파구'] = dataset['e지방지표_송파구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_양천구'] = dataset['e지방지표_양천구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_영등포구'] = dataset['e지방지표_영등포구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_용산구'] = dataset['e지방지표_용산구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_은평구'] = dataset['e지방지표_은평구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_종로구'] = dataset['e지방지표_종로구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_중구'] = dataset['e지방지표_중구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)
dataset['e지방지표_중랑구'] = dataset['e지방지표_중랑구'].drop_duplicates().reset_index().drop(['index', '지표별(1)'], axis = 1)

In [ ]:
# 25개 자치구별 데이터 하나의 데이터 합치기 = merge_data1
merge_data1 = pd.merge(dataset['e지방지표_강남구'], dataset['e지방지표_강동구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_강북구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_강서구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_관악구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_광진구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_구로구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_금천구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_노원구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_도봉구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_동대문구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_동작구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_마포구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_서대문구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_서초구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_성공구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_성북구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_송파구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_양천구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_영등포구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_용산구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_은평구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_종로구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_중구'], how = 'inner', on = ['지표별(2)'])
merge_data1 = pd.merge(merge_data1, dataset['e지방지표_중랑구'], how = 'inner', on = ['지표별(2)'])
merge_data1.head(1)

,지표별(2),서울 강남구,서울 강동구,서울 강북구,서울 강서구,서울 관악구,서울 광진구,서울 구로구,서울 금천구,서울 노원구,...,서울 성동구,서울 성북구,서울 송파구,서울 양천구,서울 영등포구,서울 용산구,서울 은평구,서울 종로구,서울 중구,서울 중랑구
0,지표별(2),2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,...,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0

In [ ]:
# 불필요 행 제거
merge_data1 = merge_data1.drop(labels = 0)
merge_data1.head(1)

,지표별(2),서울 강남구,서울 강동구,서울 강북구,서울 강서구,서울 관악구,서울 광진구,서울 구로구,서울 금천구,서울 노원구,...,서울 성동구,서울 성북구,서울 송파구,서울 양천구,서울 영등포구,서울 용산구,서울 은평구,서울 종로구,서울 중구,서울 중랑구
1,주민등록인구 (명),533042.0,462664.0,299182.0,574315.0,485699.0,339996.0,396754.0,230811.0,510956.0,...,285990.0,430528.0,658338.0,447302.0,376837.0,222953.0,473307.0,144683.0,122499.0,387350.0

In [ ]:
# 인덱스 재설정
merge_data1 = merge_data1.set_index('지표별(2)')
merge_data1.head(1)

,서울 강남구,서울 강동구,서울 강북구,서울 강서구,서울 관악구,서울 광진구,서울 구로구,서울 금천구,서울 노원구,서울 도봉구,...,서울 성동구,서울 성북구,서울 송파구,서울 양천구,서울 영등포구,서울 용산구,서울 은평구,서울 종로구,서울 중구,서울 중랑구
지표별(2),,,,,,,,,,,,,,,,,,,,,
주민등록인구 (명),533042.0,462664.0,299182.0,574315.0,485699.0,339996.0,396754.0,230811.0,510956.0,317366.0,...,285990.0,430528.0,658338.0,447302.0,376837.0,222953.0,473307.0,144683.0,122499.0,387350.0

In [ ]:
# 행, 열 변경
merge_data1 = merge_data1.transpose()
merge_data1.head(1)

지표별(2),주민등록인구 (명),순이동인구 (명),전입인구 (명),전출인구 (명),사망자수 (명),인구총조사 인구,평균연령,출생아수 (명),합계출산율,등록외국인 현황 (명),...,도소매업사업체수 (개),운수업종사자수 (명),운수업사업체수 (개),제조업종사자수 (명),제조업사업체수 (개),사업체수 (개),화재발생건수 (건),하수도보급률 (%),인구십만명당 자살률 (십만명당),등록장애인수 (명)
서울 강남구,533042.0,-4024.0,94082.0,98106.0,1920.0,503019.0,42.0,2204.0,0.523,4758.0,...,26299.0,12036.0,3708.0,19410.0,3027.0,110007.0,391.0,100.0,23.2,15182.0

In [ ]:
# 인덱스 추가
merge_data1 = merge_data1.reset_index()
merge_data1.head()

지표별(2),index,주민등록인구 (명),순이동인구 (명),전입인구 (명),전출인구 (명),사망자수 (명),인구총조사 인구,평균연령,출생아수 (명),합계출산율,...,도소매업사업체수 (개),운수업종사자수 (명),운수업사업체수 (개),제조업종사자수 (명),제조업사업체수 (개),사업체수 (개),화재발생건수 (건),하수도보급률 (%),인구십만명당 자살률 (십만명당),등록장애인수 (명)
0,서울 강남구,533042.0,-4024.0,94082.0,98106.0,1920.0,503019.0,42.0,2204.0,0.523,...,26299.0,12036.0,3708.0,19410.0,3027.0,110007.0,391.0,100.0,23.2,15182.0
1,서울 강동구,462664.0,3439.0,77883.0,74444.0,2122.0,451099.0,43.0,2810.0,0.797,...,11576.0,9175.0,5442.0,4899.0,1911.0,41660.0,211.0,100.0,20.0,18614.0
2,서울 강북구,299182.0,-5904.0,37057.0,42961.0,2036.0,292611.0,47.0,994.0,0.541,...,6807.0,6203.0,3102.0,5979.0,2067.0,26385.0,146.0,100.0,25.1,17395.0
3,서울 강서구,574315.0,-4099.0,87269.0,91368.0,2884.0,559837.0,43.0,3006.0,0.617,...,15831.0,50603.0,9188.0,8338.0,1965.0,58806.0,223.0,100.0,26.6,28546.0
4,서울 관악구,485699.0,-5955.0,89756.0,95711.0,2481.0,495777.0,43.0,1707.0,0.437,...,8953.0,6446.0,4490.0,4949.0,1901.0,37915.0,259.0,100.0,30.2,20211.0

In [ ]:
# 열 이름 변경
merge_data1 = merge_data1.rename(columns = {'index' : '자치구'})
merge_data1.head(1)

지표별(2),자치구,주민등록인구 (명),순이동인구 (명),전입인구 (명),전출인구 (명),사망자수 (명),인구총조사 인구,평균연령,출생아수 (명),합계출산율,...,도소매업사업체수 (개),운수업종사자수 (명),운수업사업체수 (개),제조업종사자수 (명),제조업사업체수 (개),사업체수 (개),화재발생건수 (건),하수도보급률 (%),인구십만명당 자살률 (십만명당),등록장애인수 (명)
0,서울 강남구,533042.0,-4024.0,94082.0,98106.0,1920.0,503019.0,42.0,2204.0,0.523,...,26299.0,12036.0,3708.0,19410.0,3027.0,110007.0,391.0,100.0,23.2,15182.0

In [ ]:
# 자치구 이름에서 서울 제거
merge_data1['자치구'] = merge_data1['자치구'].str.replace('서울 ', '')
merge_data1.head(1)

지표별(2),자치구,주민등록인구 (명),순이동인구 (명),전입인구 (명),전출인구 (명),사망자수 (명),인구총조사 인구,평균연령,출생아수 (명),합계출산율,...,도소매업사업체수 (개),운수업종사자수 (명),운수업사업체수 (개),제조업종사자수 (명),제조업사업체수 (개),사업체수 (개),화재발생건수 (건),하수도보급률 (%),인구십만명당 자살률 (십만명당),등록장애인수 (명)
0,강남구,533042.0,-4024.0,94082.0,98106.0,1920.0,503019.0,42.0,2204.0,0.523,...,26299.0,12036.0,3708.0,19410.0,3027.0,110007.0,391.0,100.0,23.2,15182.0

In [ ]:
# 서울 25개 자치구 통합 자료 내보내기
merge_data1.to_csv('서울시_25개_구_데이터.csv', index = False)

In [ ]:
# 서울 25개 자치구 통합 자료 불러오기 및 25개 사설학원 수 데이터 불러오기
merge_data1 = pd.read_csv('서울시_25개_구_데이터.csv')
df_aca = pd.read_csv('서울시_25개_구_학원수.csv')
df_aca = df_aca.drop(['시점', '자치구별(1)'], axis = 1)
df_aca = df_aca.drop(labels = 0)
df_aca = df_aca.rename(columns = {'자치구별(2)' : '자치구'})
df_aca.head(1)

   자치구  사설학원수 (개소)
1  종로구         217

In [ ]:
# merge_data1와 25개 자치구 사설학원 수 데이터 합치기 = merge_data2
merge_data2 = pd.merge(merge_data1, df_aca)
merge_data2.head(1)

,자치구,주민등록인구 (명),순이동인구 (명),전입인구 (명),전출인구 (명),사망자수 (명),인구총조사 인구,평균연령,출생아수 (명),합계출산율,...,운수업종사자수 (명),운수업사업체수 (개),제조업종사자수 (명),제조업사업체수 (개),사업체수 (개),화재발생건수 (건),하수도보급률 (%),인구십만명당 자살률 (십만명당),등록장애인수 (명),사설학원수 (개소)
0,강남구,533042.0,-4024.0,94082.0,98106.0,1920.0,503019.0,42.0,2204.0,0.523,...,12036.0,3708.0,19410.0,3027.0,110007.0,391.0,100.0,23.2,15182.0,2383

In [ ]:
# 서울 25개 자치구 미성년자 자녀가 있는 가구수 데이터 불러오기
# 불필요 행 제거 및 열 이름 변경
df_chi = pd.read_csv('서울시_25개_구_미성년자가_있는_자녀수별_가구.csv', encoding = 'cp949')
df_chi = df_chi.drop(labels = range(0, 2)).reset_index().drop(['index'], axis = 1)
df_chi = df_chi.rename(columns = {'2021' : '자녀가 있는 가구수 (가구)', '행정구역별(시군구)' : '자치구'})
df_chi.head(1)

   자치구 자녀가 있는 가구수 (가구)
0  종로구            9722

In [ ]:
# merge_data2와 25개 자치구 미성년자 자녀가 있는 가구수 합치기 = merge_data3
merge_data3 = pd.merge(merge_data2, df_chi)
merge_data3.head(1)

,자치구,주민등록인구 (명),순이동인구 (명),전입인구 (명),전출인구 (명),사망자수 (명),인구총조사 인구,평균연령,출생아수 (명),합계출산율,...,운수업사업체수 (개),제조업종사자수 (명),제조업사업체수 (개),사업체수 (개),화재발생건수 (건),하수도보급률 (%),인구십만명당 자살률 (십만명당),등록장애인수 (명),사설학원수 (개소),자녀가 있는 가구수 (가구)
0,강남구,533042.0,-4024.0,94082.0,98106.0,1920.0,503019.0,42.0,2204.0,0.523,...,3708.0,19410.0,3027.0,110007.0,391.0,100.0,23.2,15182.0,2383,52351

In [ ]:
# 서울교통공사 지하철역 데이터 불러오기
df_rail = pd.read_csv('서울교통공사 지하철역 주소 및 전화번호 정보.csv', encoding = 'cp949')
df_rail

,호선,역명,구주소,도로명주소,전화번호
0,2호선,봉천,서울특별시 관악구 봉천동 979-7 봉천역(2호선),서울특별시 관악구 남부순환로 지하1721(봉천동),02-6110-2291
1,1호선,서울,서울특별시 중구 남대문로5가 73-6 서울역(1호선),서울특별시 중구 세종대로 지하2(남대문로 5가),02-6110-1331
2,1호선,시청,서울특별시 중구 정동 5-5 시청역(1호선),서울특별시 중구 세종대로 지하101(정동),02-6110-1321
3,1호선,종각,서울특별시 종로구 종로1가 54 종각역(1호선),서울특별시 종로구 종로 지하55(종로1가),02-6110-1311
4,1호선,종로3가,서울특별시 종로구 종로3가 10-5 종로3가역(1호선),서울특별시 종로구 종로 지하129(종로3가),02-6110-1301
...,...,...,...,...,...
283,9호선,송파나루,서울특별시 송파구 방이동 2 송파나루역(9호선),서울특별시 송파구 백제고분로 지하446(방이동),02-2656-0934
284,9호선,한성백제,서울특별시 송파구 방이동 88-17 한성백제역(9호선),서울특별시 송파구 위례성대로 지하29(방이동),02-2656-0935
285,9호선,올림픽공원(한국체대),서울특별시 송파구 방이동 89-28 올림픽공원역(9호선),서울특별시 송파구 양재대로 지하1233(방이동),02-2656-0936
286,9호선,둔촌오륜,서울특별시 강동구 둔촌동 227-7 둔촌오륜역(9호선),서울특별시 강동구 강동대로 지하303(둔촌동),02-2656-0937
287,9호선,중앙보훈병원,서울특별시 강동구 둔촌동 8-1 중앙보훈병원역(9호선),서울특별시 강동구 동남로 지하625(둔촌동),02-2656-0938

In [ ]:
# 서울 주소지가 서울인 데이터 찾아서 저장
df_rail = df_rail[df_rail['구주소'].apply(lambda x : x.startswith('서울'))]
df_rail

,호선,역명,구주소,도로명주소,전화번호
0,2호선,봉천,서울특별시 관악구 봉천동 979-7 봉천역(2호선),서울특별시 관악구 남부순환로 지하1721(봉천동),02-6110-2291
1,1호선,서울,서울특별시 중구 남대문로5가 73-6 서울역(1호선),서울특별시 중구 세종대로 지하2(남대문로 5가),02-6110-1331
2,1호선,시청,서울특별시 중구 정동 5-5 시청역(1호선),서울특별시 중구 세종대로 지하101(정동),02-6110-1321
3,1호선,종각,서울특별시 종로구 종로1가 54 종각역(1호선),서울특별시 종로구 종로 지하55(종로1가),02-6110-1311
4,1호선,종로3가,서울특별시 종로구 종로3가 10-5 종로3가역(1호선),서울특별시 종로구 종로 지하129(종로3가),02-6110-1301
...,...,...,...,...,...
283,9호선,송파나루,서울특별시 송파구 방이동 2 송파나루역(9호선),서울특별시 송파구 백제고분로 지하446(방이동),02-2656-0934
284,9호선,한성백제,서울특별시 송파구 방이동 88-17 한성백제역(9호선),서울특별시 송파구 위례성대로 지하29(방이동),02-2656-0935
285,9호선,올림픽공원(한국체대),서울특별시 송파구 방이동 89-28 올림픽공원역(9호선),서울특별시 송파구 양재대로 지하1233(방이동),02-2656-0936
286,9호선,둔촌오륜,서울특별시 강동구 둔촌동 227-7 둔촌오륜역(9호선),서울특별시 강동구 강동대로 지하303(둔촌동),02-2656-0937
287,9호선,중앙보훈병원,서울특별시 강동구 둔촌동 8-1 중앙보훈병원역(9호선),서울특별시 강동구 동남로 지하625(둔촌동),02-2656-0938

In [ ]:
# 주소 열 항목 값을 시와 구로 나눠서 각각 새로운 열 생성
df_rail['시'] = df_rail['구주소'].apply(
    lambda x: x.split(' ')[0])

df_rail['지하철역수 (개)'] = df_rail['구주소'].apply(
    lambda x: x.split(' ')[1])
df_rail.head(1)

C:\Users\qkdf1\AppData\Local\Temp\ipykernel_26444\2410015595.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rail['시'] = df_rail['구주소'].apply(
C:\Users\qkdf1\AppData\Local\Temp\ipykernel_26444\2410015595.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rail['지하철역수 (개)'] = df_rail['구주소'].apply(

,호선,역명,구주소,도로명주소,전화번호,시,지하철역수 (개)
0,2호선,봉천,서울특별시 관악구 봉천동 979-7 봉천역(2호선),서울특별시 관악구 남부순환로 지하1721(봉천동),02-6110-2291,서울특별시,관악구

In [ ]:
# 자치구별로 지하철역 개수 구하기
df_rail_count = pd.DataFrame(df_rail['지하철역수 (개)'].value_counts())
df_rail_count = df_rail_count.reset_index().rename(columns = {'index' : '자치구'})
df_rail_count

   지하철역수 (개)  count
0        송파구     28
1         중구     23
2        강남구     21
3        마포구     16
4        종로구     15
5        강동구     14
6        성동구     14
7        은평구     13
8        노원구     13
9        서초구     12
10       동작구     12
11       광진구     11
12      영등포구     11
13       용산구     10
14       강서구      9
15       성북구      9
16       중랑구      8
17       구로구      7
18      동대문구      6
19       양천구      5
20      서대문구      5
21       관악구      4
22       강북구      3
23       도봉구      3
24       금천구      1

In [ ]:
# merge_data3과 25개 자치구 지하철 역 개수 합치기 = merge_data4
merge_data4 = pd.merge(merge_data3, df_rail_count, left_on=['자치구'], right_on=['지하철역수 (개)'])
merge_data4.head(1)

,자치구,주민등록인구 (명),순이동인구 (명),전입인구 (명),전출인구 (명),사망자수 (명),인구총조사 인구,평균연령,출생아수 (명),합계출산율,...,제조업사업체수 (개),사업체수 (개),화재발생건수 (건),하수도보급률 (%),인구십만명당 자살률 (십만명당),등록장애인수 (명),사설학원수 (개소),자녀가 있는 가구수 (가구),지하철역수 (개),count
0,강남구,533042.0,-4024.0,94082.0,98106.0,1920.0,503019.0,42.0,2204.0,0.523,...,3027.0,110007.0,391.0,100.0,23.2,15182.0,2383,52351,강남구,21

In [ ]:
# 해법수학 공부방 크롤링 데이터 불러오기
df_hb = pd.read_csv('hb.csv', encoding = 'cp949')
df_hb

,Unnamed: 0,title,address
0,0,수원 광교SK레이크점,"경기 수원시 영통구 법조로 25 (하동, 광교 SK VIEW Lake)"
1,1,스마트해법 북아현점,서울 서대문구 북아현동 180-27
2,2,스마트해법수학 왕지점,"전남 순천시 연동남길 39 (조례동, 서영옥머리마당)"
3,3,DMC스마트해법학원,서울 서대문구 증가로 150 (남가좌동)
4,4,sk view,"서울 영등포구 여의대방로35가길 19 (신길동, 보라매 SK VIEW)"
...,...,...,...
2275,2275,화성 향남 부영7단지점,"경기 화성시 향남읍 상신하길로274번길 21 (하길리, 서봉마을 사랑으로부영7단지아파트)"
2276,2276,화성 향남 상신초점,"경기 화성시 향남읍 상신하길로 65 (상신리, 언덕마을 사랑으로부영 17단지아파트)"
2277,2277,화성 향남 행정초점,경기 화성시 향남읍 행정동로 17 (행정리)
2278,2278,화성 향남하길초점,경기 화성시 향남읍 상신하길로273번길 57 (하길리)
2279,2279,화성 향남화원초점,"경기 화성시 향남읍 하길로 69 (하길리, 오색마을 사랑으로부영9단지아파트)"

In [ ]:
# 서울에 있는 해법수학 공부방만 분류
df_hb = df_hb[df_hb['address'].apply(lambda x : x.startswith('서울'))]
df_hb

,Unnamed: 0,title,address
1,1,스마트해법 북아현점,서울 서대문구 북아현동 180-27
3,3,DMC스마트해법학원,서울 서대문구 증가로 150 (남가좌동)
4,4,sk view,"서울 영등포구 여의대방로35가길 19 (신길동, 보라매 SK VIEW)"
6,6,강남 Abu Dhabi Academy,"서울 강남구 영동대로 22 (일원동, 디에이치 자이 개포)"
7,7,강남 개포스마트스퀘어점,"서울 강남구 선릉로 8 (개포동, 래미안블레스티지)"
...,...,...,...
1899,1899,중랑 중랑초점,"서울 중랑구 동일로101길 63 (면목동, 면목한신아파트)"
1900,1900,중랑 탑e해법수학점,서울 중랑구 면목동 727-122
2084,2084,펠릭스해법학원,"서울 구로구 새말로 31 (구로동, 롯데구로아파트)"
2144,2144,하계 송 쌤the스마트학원,서울 노원구 하계동 270
2181,2181,화곡월정초점,서울 강서구 가로공원로76길 73 (화곡동)

In [ ]:
# 주소 열 항목 값을 시와 구로 나눠서 각각 새로운 열 생성
df_hb['시'] = df_hb['address'].apply(
    lambda x: x.split(' ')[0])

df_hb['해법수학공부방수 (개소)'] = df_hb['address'].apply(
    lambda x: x.split(' ')[1])
df_hb.head(1)

C:\Users\qkdf1\AppData\Local\Temp\ipykernel_26444\2110903095.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hb['시'] = df_hb['address'].apply(
C:\Users\qkdf1\AppData\Local\Temp\ipykernel_26444\2110903095.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hb['해법수학공부방수 (개소)'] = df_hb['address'].apply(

   Unnamed: 0        title              address   시 해법수학공부방수 (개소)
1           1   스마트해법 북아현점  서울 서대문구 북아현동 180-27  서울          서대문구

In [ ]:
# 자치구별로 해법수학 공부방 개수 구하기
df_hb_count = pd.DataFrame(df_hb['해법수학공부방수 (개소)'].value_counts())
df_hb_count = df_hb_count.reset_index().rename(columns = {'index' : '자치구'})
df_hb_count

   해법수학공부방수 (개소)  count
0            노원구     53
1            강남구     23
2            은평구     23
3            송파구     22
4            양천구     22
5            성북구     19
6            강서구     18
7            구로구     18
8            도봉구     16
9            서초구     16
10           중랑구     16
11           강동구     16
12          영등포구     15
13           성동구     14
14           동작구     13
15          서대문구     13
16           관악구     12
17           광진구     11
18           금천구     10
19          동대문구     10
20           마포구      8
21           강북구      8
22           용산구      4
23            중구      3
24           종로구      2

In [ ]:
# merge_data4과 25개 자치구별 해법수학 공부방 개수 합치기 = merge_data5
merge_data5 = pd.merge(merge_data4, df_hb_count)
merge_data5.head(1)

,자치구,주민등록인구 (명),순이동인구 (명),전입인구 (명),전출인구 (명),사망자수 (명),인구총조사 인구,평균연령,출생아수 (명),합계출산율,...,사업체수 (개),화재발생건수 (건),하수도보급률 (%),인구십만명당 자살률 (십만명당),등록장애인수 (명),사설학원수 (개소),자녀가 있는 가구수 (가구),지하철역수 (개),count,해법수학공부방수 (개소)
0,강동구,462664.0,3439.0,77883.0,74444.0,2122.0,451099.0,43.0,2810.0,0.797,...,41660.0,211.0,100.0,20.0,18614.0,654,43546,강동구,14,성동구

In [ ]:
# 웅진스마트올_공부방 크롤링 데이터 불러오기
df_woon = pd.read_csv('웅진스마트올_공부방_서울_위도_경도.csv')
df_woon

   sub          title                          address   Latitude   Longitude
0   초등      삼성 석탑 공부방         서울특별시 학동로 412 석탑아파트 101동  37.517459  127.044881
1   초등   암사동 롯데캐슬 공부방           서울특별시 강동구 고덕로 131 104동  37.556440  127.142034
2   초등     고덕아르테온 공부방           서울특별시 강동구 고덕로 360 308동  37.555230  127.168789
3   초등       고덕아남 공부방           서울특별시 강동구 양재대로 1706 4동  37.557886  127.145974
4   초등  강일리버파크2단지 공부방        서울특별시 강동구 아리수로97길 68 205동  37.569371  127.176267
..  ..            ...                              ...        ...         ...
93  키즈        금호동 공부방             서울 성동구 행당로5길 15-1 2층  37.556927  127.024579
94  키즈    강동 롯데캐슬 공부방              서울 강동구 고덕로 131 137동  37.556440  127.142034
95  초등         가락 공부방         서울 송파구 동남로13길 23-27 101호  37.493238  127.127414
96  초등       노원이지 공부방               서울 노원구 섬밭로 229 11동  37.635445  127.064244
97  키즈         독산 공부방  서울 금천구 시흥대로100길 38-8 102호 (독산동)  37.464323  126.899846

[98 rows x 5 columns]

In [ ]:
# 주소 열 항목 값을 시와 구로 나눠서 각각 새로운 열 생성
df_woon['시'] = df_woon['address'].apply(
    lambda x: x.split(' ')[0])

df_woon['웅진스마트올공부방수 (개소)'] = df_woon['address'].apply(
    lambda x: x.split(' ')[1])
df_woon.head(1)

,sub,title,address,Latitude,Longitude,시,웅진스마트올공부방수 (개소)
0,초등,삼성 석탑 공부방,서울특별시 학동로 412 석탑아파트 101동,37.517459,127.044881,서울특별시,학동로

In [ ]:
# 구 이외 도로명 주소 찾기
df_woon['웅진스마트올공부방수 (개소)'].value_counts()

웅진스마트올공부방수 (개소)
강동구           15
노원구           10
송파구           10
광진구           10
은평구            9
강북구            5
구로구            5
중랑구            4
금천구            4
강서구            4
동대문구           3
서대문구           3
도봉구            3
양천구            2
용산구            2
마포구            1
양산로3길9         1
월계로            1
학동로            1
중량구            1
성북구            1
노원구수락산로234     1
관악구            1
성동구            1
Name: count, dtype: int64

In [ ]:
# 예외 데이터 주소찾기
df_woon[df_woon['웅진스마트올공부방수 (개소)'].isin(['양산로3길9'])]

,sub,title,address,Latitude,Longitude,시,웅진스마트올공부방수 (개소)
60,학원,양평학원,서울시영등포구 양산로3길9 최옥수건물2층,37.526591,126.885066,서울시영등포구,양산로3길9

In [ ]:
# 예외 데이터 지도 검색 후 변경
df_woon['웅진스마트올공부방수 (개소)'] = df_woon['웅진스마트올공부방수 (개소)'].str.replace('노원구수락산로234', '노원구')
df_woon['웅진스마트올공부방수 (개소)'] = df_woon['웅진스마트올공부방수 (개소)'].str.replace('학동로', '강남구')
df_woon['웅진스마트올공부방수 (개소)'] = df_woon['웅진스마트올공부방수 (개소)'].str.replace('월계로', '노원구')
df_woon['웅진스마트올공부방수 (개소)'] = df_woon['웅진스마트올공부방수 (개소)'].str.replace('양산로3길9', '영등포구')

In [ ]:
# 자치구별로 웅진스마트올 공부방 개수 구하기
df_woon_count = pd.DataFrame(df_woon['웅진스마트올공부방수 (개소)'].value_counts())
df_woon_count = df_woon_count.reset_index().rename(columns = {'index' : '자치구'})
df_woon_count

   웅진스마트올공부방수 (개소)  count
0              강동구     15
1              노원구     12
2              광진구     10
3              송파구     10
4              은평구      9
5              강북구      5
6              구로구      5
7              강서구      4
8              금천구      4
9              중랑구      4
10            서대문구      3
11            동대문구      3
12             도봉구      3
13             양천구      2
14             용산구      2
15            영등포구      1
16             마포구      1
17             강남구      1
18             중량구      1
19             성북구      1
20             관악구      1
21             성동구      1

In [ ]:
# merge_data5과 25개 자치구별 웅진스마트올 공부방 개수 합치기 = merge_data6
merge_data6 = pd.merge(merge_data5, df_woon_count)
merge_data6.head(1)

,자치구,주민등록인구 (명),순이동인구 (명),전입인구 (명),전출인구 (명),사망자수 (명),인구총조사 인구,평균연령,출생아수 (명),합계출산율,...,화재발생건수 (건),하수도보급률 (%),인구십만명당 자살률 (십만명당),등록장애인수 (명),사설학원수 (개소),자녀가 있는 가구수 (가구),지하철역수 (개),count,해법수학공부방수 (개소),웅진스마트올공부방수 (개소)
0,강북구,299182.0,-5904.0,37057.0,42961.0,2036.0,292611.0,47.0,994.0,0.541,...,146.0,100.0,25.1,17395.0,210,20640,강북구,3,중구,서대문구

In [ ]:
# 최종 데이터 결과 내보내기
merge_data6.to_csv('서울시_25개_구_데이터_최종.csv', index = False)